@page
@model PublicProject.Pages.BlogAdmin.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}


@if (SignInManager.IsSignedIn(User))
{
    var inAdminRole = User.IsInRole("Admin");
    if (inAdminRole == true)
    {
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Popularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].SubcategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubcategoryId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    }
    else
    {
                          <p>You dont have accsess to this site, please go back to the <a href="~/Index">Main page</a></p>
    }

}
else
{
      <p>You dont have accsess to this site, please go back to the <a href="~/Index">Main page</a></p>
}