@page
@model PublicProject.Pages.CRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Header)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Header)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Popularity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Footer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Footer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Facebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Facebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Instagram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Instagram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.YouTube)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.YouTube)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Twitter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Twitter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Style)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
