@page
@model PublicProject.Pages.CRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Header)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Header)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Popularity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Popularity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Footer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Footer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Instagram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.YouTube)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.YouTube)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Twitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Twitter)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
