@page
@model PublicProject.Pages.Messsages.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}



            @if (SignInManager.IsSignedIn(User))
{
    var inAdminRole = User.IsInRole("Admin");
    if (inAdminRole == true)
    {
                <h2>Index</h2>

        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Message[0].SenderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message[0].RecieverId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message[0].Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message[0].Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Message)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecieverId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
          <p>You dont have accsess to this site, please go back to the <a href="~/Index">Main page</a></p>
    }

}
else
{
      <p>You dont have accsess to this site, please go back to the <a href="~/Index">Main page</a></p>
}