@page
@model PublicProject.Pages.IndexModel

@{
    <link rel="stylesheet" href="~/css/BrightStyle/BrightTheme.css">
}

<!-- Favicon-->
@* <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />*@
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->

<header class="Page-Header">
    <h3>@Model.Blogs[7].Header</h3>

 
</header>

<body class="Page-Body">

    <img src="~/img/@Model.Blogs[7].Image" class="Page-Body" />
    <p>@Model.Blogs[7].Text</p>

</body>

<footer class="footer py-4 Page-Footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Public Project 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="@Model.Blogs[7].Twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="@Model.Blogs[7].Facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="@Model.Blogs[7].YouTube" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="@Model.Blogs[7].Instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>

