@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
    var user = await UserManager.GetUserAsync(User);
}


<link rel="stylesheet" href="~/css/site.css" />





@if (SignInManager.IsSignedIn(User))
{
    <p>Du är inloggad som @User.Identity.Name</p>

    var inMemberRole = User.IsInRole("Member");
    var inAdminRole = User.IsInRole("Admin");


    <p> Is Admin:@inAdminRole</p>
    <p> Is Member:@inMemberRole </p>

}

<a class="btn btn-primary" asp-page="/BlogViewer" >View all Blogs</a>


{
    <div class="frontpage-text">
        <span> Welcome to <strong>Public Project!</strong></span>
    </div>

    <div class="example-blog">

        <p>
            @if(Model.Blogs !=null)
            {
                <div class="card m-2" style="width: 10rem">
                                    <img class="card-img-top" src="~/img/@Model.Blogs[0].Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.Blogs[0].Header</h5>
                    <p class="card-text">@Model.Blogs[0].Text</p>
                </div>
                <p class="card-footer">@Model.Blogs[0].Date</p>
                </div>
                
            }
        </p>

    @if (SignInManager.IsSignedIn(User))
        {
              <a asp-page="/overview" asp-route-id="@user.Id">View User Profile</a>
        }

      

    </div>
}
