@page
@model PublicProject.Pages.IndexModel
@{
}



<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">


    <div class="hero" style="background-image: url('images/lead.jpg'); text-align:right;">
        <div class="hero-inner">
            <div class="inner">
                <h1><span class="border border-top border-bottom">Public project</span></h1>
                <div class="hero-line-one"></div>
                <div class="hero-line-two"><span class="border border-bottom"><a href="https://freehtml5.co" style="color:#FFF;">by Elias, Thom & Mohammed</a></span></div>
            </div>

            <a class="more-arrow" href="#content"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

        </div>
    </div>


    <div class="home-sticky" id="content">

        <h2 class="home-sticky-title">Blogginlägg</h2>


        <div class="sticky-inner">

            <aside class="home-sticky-post post has-post-thumbnail sticky">

                <span class="post-image">
                    <a href="#">
                        <img width="502" height="502" src="~/img/@Model.Blogs[0].Image"
                             class="attachment-sticky size-sticky" alt="" />
                    </a>
                </span>

                <div class="inner">
                    <h3 class="entry-title">
                        <a href="#">@Model.Blogs[0].Header</a>
                    </h3>

                    <ul class="meta top">
                        <li class="time">
                            <a href="#">
                                <time class="post-date updated">@Model.Blogs[0].Date</time>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
            </div>

            <aside class="home-sticky-post post has-post-thumbnail sticky ">

                <span class="post-image">
                    <a href="#">
                        <img width="502" height="502" src="~/img/@Model.Blogs[5].Image"
                             class="attachment-sticky size-sticky" alt="" />
                    </a>
                </span>

                <div class="inner">
                    <h3 class="entry-title">
                        <a href="#">@Model.Blogs[5].Header</a>
                    </h3>

                    <ul class="meta top">
                        <li class="time">
                            <a href="#"
                               title="The Apothecary">
                                <time class="post-date updated">@Model.Blogs[5].Date</time>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>

            <aside class="home-sticky-post post has-post-thumbnail sticky">

                <span class="post-image">
                    <a href="#">
                        <img width="502" height="502" src="~/img/@Model.Blogs[4].Image"
                             class="attachment-sticky size-sticky" alt="" />
                    </a>
                </span>

                <div class="inner">
                    <h3 class="entry-title">
                        <a href="#">@Model.Blogs[4].Header</a>
                    </h3>

                    <ul class="meta top">
                        <li class="time">
                            <a href="#">
                                <time class="post-date updated">@Model.Blogs[4].Date</time>
                            </a>
                        </li>
                    </ul>
                </div>

            </aside>
    </div>
         
  @*  <footer class="footer">
        <div class="footer-wrap">
            <div id="footer-text">
                &copy; 2018 Itsy.
                Designed by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>.
            </div>

            <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
        </div>
    </footer>*@


    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>

