@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{

    var user = await UserManager.GetUserAsync(User);
}
@model PublicProject.Pages.ViewBlogModel
@{
}

<div class="blog-content">
    <div class="blog-header">
        <h1>@Model.BlogPost.Header</h1>
    </div>
    <div class="blog-text">
        <p>@Model.BlogPost.Text</p>
    </div>
    <div class="blog-pop">
        <p>Här har vi countern: @Model.BlogPost.Popularity</p>
    </div>
    <div class="blog-footer">
        <p>@Model.BlogPost.Footer</p>
    </div>
    <img class="img-fluid" src="~/img/@Model.BlogPost.Image" />
    <div class="social-media-icons">
        <a href="@Model.BlogPost.Facebook" target="_blank"><img src="~/img/FBpic.png" alt="Facebook" width="30px"></a>
        <a href="@Model.BlogPost.Twitter" target="_blank"><img src="~/img/twitterpic.png" alt="Twitter" width="30px"></a>
        <a href="@Model.BlogPost.Instagram" target="_blank"><img src="~/img/instagrampic.png" alt="Instagram" width="30px"></a>
        <a href="@Model.BlogPost.YouTube" target="_blank"><img src="~/img/youtubepic.png" alt="YouTube" width="30px"></a>
    </div>
</div>




@if (SignInManager.IsSignedIn(User))
{
    @if (user.Id == Model.BlogPost.UserId)
    {
        <a class="btn btn-primary" asp-page="/CRUD/Edit" asp-route-id="@Model.BlogPost.Id">Edit Blog</a>
        <a class="btn btn-primary" asp-page="/CRUD/Delete" asp-route-id="@Model.BlogPost.Id">Delete blog</a>

    }
}



