@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model PublicProject.Pages.ViewBlogModel
@{

    var user = await UserManager.GetUserAsync(User);
    var sortedblogs = Model.ScopedData.Blogs.Where(x => x.SubcategoryId == Model.SubCategoryId);

}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Favicon-->
     <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
            <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    </head>



    @if (SignInManager.IsSignedIn(User))
{
    var hasUsername = Model.ScopedData.UserProfiles.FirstOrDefault(n => n.UserId == user.Id);
    @if (hasUsername != null)
    {
        <a asp-page="/CreateBlog" asp-route-SubCategoryId="@Model.SubCategoryId">Create Blog</a>
    }
    else
    {
        <p style="color: red">Var vänlig och gå över till <a href="~/overview">UserProfile</a> för att registrera ett användarnamn för att få tillgång till att börja blogga!</p>
    }
}

<div class="row">
    @foreach (var blog in sortedblogs)
    {
                <div class="col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">@blog.Title</h5>
                          @*  Lägger till denna rad bara för test, ni kan ta bort den ifall ni vill Mohammed.*@
                    
                          <img src="~/img/@blog.Image" class="card-image">
                            <p class="card-text">@blog.Text</p>                       
                        </div>
                        <p class="card-footer">@blog.Date</p>
                        <div class="text-center">
                            <a class="btn btn-primary" asp-page="/ViewForumPost" asp-route-id="@blog.Id">View Blog</a>
                        </div>
                    </div>
                </div>
    }
</div>
