@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{

    var user = await UserManager.GetUserAsync(User);
}
@model PublicProject.Pages.ViewBlogModel
@{
}

<div class="blog-content">
    <div class="blog-header">
        <h1>@Model.BlogPost.Header</h1>
    </div>
    <div class="blog-text">
        <p>@Model.BlogPost.Text</p>
    </div>
    <div class="blog-pop">
        <p>Här har vi countern: @Model.BlogPost.Popularity</p>
    </div>
</div>


<img class="img-fluid" src="~/img/@Model.BlogPost.Image" />


@if (user.Id == Model.BlogPost.UserId)
{

        <a class="btn btn-primary" asp-page="/CRUD/Edit" asp-route-id="@Model.BlogPost.Id">Edit Blog</a>
        <a class="btn btn-primary" asp-page="/CRUD/Delete" asp-route-id="@Model.BlogPost.Id">Delete blog</a>

}

