@page
@model PublicProject.Pages.MessagesModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Messages";
    var user = await UserManager.GetUserAsync(User);
}



<ul>
@foreach( var message in Model.Messages)
{
    
    if (message.RecieverId == user.Id)
    {
        <li>
            <p>@message.Text</p>
        </li>
            <li>
                <p>@message.Date</p>
            </li>
            <li>
                <p>@message.RecieverId</p>
            </li>
            <li>
                <p>@message.SenderId</p>
            </li>
        @*<h1>  @message.Text </h1>*@
    }
    <h1> </h1>
}
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js"></script>
