@page
@model PublicProject.Pages.ViewForumPostModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@*<div class="blog-content">
    <div class="blog-pop">
        <div class="container">
            <strong><img class="test" width="30px" height="30px" src="~/img/viewcount.png" /> @Model.BlogPost.Popularity</strong>
        </div>
    </div>
</div>

<img class="" src="~/img/@Model.BlogPost.Image">
<h1>@Model.BlogPost.Title</h1>
<p>@Model.BlogPost.Text</p>*@

    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
         <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
       <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
       <link href="css/black/styles.css" rel="stylesheet" />
    </head>
    

<div class="blog-content">
    <div class="blog-pop">
        <div class="container">
            <strong><img class="test" width="30px" height="30px" src="~/img/viewcount.png" /> @Model.BlogPost.Popularity</strong>
        </div>
    </div>
</div>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">@Model.BlogPost.Title</div>
        <img class="img-fluid" src="~/img/@Model.BlogPost.Image" />
        <div class="masthead-subheading"> @Model.BlogPost.Text</div>
    </div>
</header>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Om skrivaren</h2>
            <h3 class="section-subheading text-muted">@Model.BlogPost.Date</h3>
        </div>
    </div>
</section>
<!--Comment section-->
@foreach(var comment in Model.Comments)
{
    if(Model.BlogPost.Id == comment.BlogId)
    {
                 <p>@comment.Image | @comment.Author | @comment.Date | @comment.Text |</p>
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-page-handler="Report">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ReportMessage.reporterId" class="control-label"></label>
                        <input asp-for="ReportMessage.reporterId" value="@user.Id" readonly class="form-control" />
                        <span asp-validation-for="ReportMessage.reporterId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReportMessage.reportedId" class="control-label"></label>
                        <input asp-for="ReportMessage.reportedId" value="@comment.UserId" readonly class="form-control" />
                        <span asp-validation-for="ReportMessage.reportedId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReportMessage.Text" class="control-label"></label>
                        <input asp-for="ReportMessage.Text" class="form-control" />
                        <span asp-validation-for="ReportMessage.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Report" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
}
@{
    int commentId = Model.Comments.Count() + 1;
    //if(commentId == 10)
    //{
    //    commentId = 11;
    //}
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
    <div class="col-md-4">
            <form method="post" asp-page-handler="SendComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Comment.Id" value="@commentId" class="form-control" readonly type="hidden" />
                <span asp-validation-for="Comment.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Author" class="control-label"></label>
                <input asp-for="Comment.Author" class="form-control" />
                <span asp-validation-for="Comment.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Text" class="control-label"></label>
                <input asp-for="Comment.Text" class="form-control" />
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Image" class="control-label"></label>
                <input asp-for="Comment.Image" class="form-control" />
                <span asp-validation-for="Comment.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Comment.Date" value="@DateTime.Now" class="form-control" readonly type="hidden" />
                <span asp-validation-for="Comment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Comment.BlogId " value="@Model.BlogPost.Id" class="form-control" readonly type="hidden" />
                <span asp-validation-for="Comment.BlogId" class="text-danger"></span>
         

                <div class="form-group">
                    <input asp-for="Comment.UserId" value=@user.Id readonly type="hidden" class="form-control" />
                    <span asp-validation-for="Comment.UserId" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}




<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Public Project 2023</div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
