@page
@model PublicProject.Pages.MessagesModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Meddelanden";
    var user = await UserManager.GetUserAsync(User);
    var sortedMessages = Model.ScopedData.Messages.Where(x => x.RecieverId == user.Id);
}

<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/CommentStyle/Comment.css" rel="stylesheet" />
</head>

<body>
<h2 class="home-sticky-title">Inkorg</h2>
<ul>
@foreach( var message in sortedMessages)
{
        var profile = @Model.ScopedData.UserProfiles.FirstOrDefault(s => s.UserId == message.SenderId);
        <div class="comment">

        <div class="thumbnail">
            <img src="~/img/@profile.Imglink" >
        </div>
            <h2 class="comment-content">Meddelande: @message.Text </h2>
            <a class="comment-footer" asp-page="/Sendmessagetouserview" asp-route-id="@profile.UserId"> @profile.UserName </a> | Datum: @message.Date
        </div>
}
</ul>
</body>
<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">
            &copy; 2023 - Snackis - <a asp-area="" asp-page="/Privacy">Integritet</a>
        </div>
        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js"></script>
